/*
    Black 100%: #000000;
    Black  80%: #242424;
    Black  60%: #383838;
    Black  40%: #4C4C4C;
    White 100%: #FFFFFF;
    White  60%: #767676;
    White  40%: #D6D6D5;
*/
a {color: #4078c0 !important;}
.counter, .site-header, body{background: #242424 !important;}
.repository-meta{color: #d5d5d5 !important;}
.repohead.experiment-repo-nav{background: #383838 !important;}
.readme .markdown-body, .readme .plain{background: #000 !important; border-color:#767676 !important; color: #fff !important}
.reponav-item, .site-header-nav .nav-item{color: #fff !important;}
.counter, .reponav-item:hover, .site-header-nav .nav-item:hover{color: #d5d5d5 !important;}
.reponav-item.selected{background-color: #242424 !important; border-color: #d26911 #767676 transparent !important;}
.pagehead{border-bottom-color: #767676 !important;}
.numbers-summary .octicon, .repohead h1 .octicon,.text-emphasized{color: #fff !important;}
.overall-summary{border-color:#767676 !important;}
.site-footer{color: #fff !important; border-top-color: #767676 !important;}